body{
background-image: url(images.jpg);
background-size: cover;
}

h1{
font-family: Helvetica,Arial,Serif;
font-weight: bold;
font-style: italic;
font-size: 5em;
line-height: 1em;
text-align: center;

}
.inset-text
{
color: rgba(0,0,0,0.8);
text-shadow:5px 5px 10px blue;
}
#img{
top: 10%;
}


    .inset-text {
    transition:All 1s ease;
    -webkit-transition:All 1s ease;
    -moz-transition:All 1s ease;
    -o-transition:All 1s ease;
    transform: rotate(360deg) scale(1.206) skew(1deg) translate(10px);
    -webkit-transform: rotate(360deg) scale(1.206) skew(1deg) translate(10px);
    -moz-transform: rotate(360deg) scale(1.206) skew(1deg) translate(10px);
    -o-transform: rotate(360deg) scale(1.206) skew(1deg) translate(10px);
    -ms-transform: rotate(360deg) scale(1.206) skew(1deg) translate(10px);
    }
    .inset-text:hover{
    transform: rotate(145deg) scale(1.274) skew(1deg) translate(0px);
    -webkit-transform: rotate(145deg) scale(1.274) skew(1deg) translate(0px);
    -moz-transform: rotate(145deg) scale(1.274) skew(1deg) translate(0px);
    -o-transform: rotate(145deg) scale(1.274) skew(1deg) translate(0px);
    -ms-transform: rotate(145deg) scale(1.274) skew(1deg) translate(0px);
    }


a{
text-align: center;
color: rgba(0,0,0,0.8);
text-shadow:5px 5px 10px red;
 }

#cf {
  position:relative;
  height:225px;
  width:225px;
  margin:0 auto;
  border: 5px solid #000;
   box-shadow: 10px 10px 5px #808080;
}

#cf img {
  position:absolute;
  left:0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

#cf img.top:hover {
  opacity:0;
}